
.navbar {
  position: fixed; /* Define o posicionamento fixo */
  top: 0; /* Alinha ao topo */
  right: 0; /* Alinha à direita */
  width: 100vw; /* Largura de 100% */
  background-color: #000000; /* Cor de fundo preta */
  color: #ffffff; /* Cor do texto branca */
  display: flex; /* Usa o modelo de layout flexível */
  padding: 0 16px; /* Preenchimento de 0 nas laterais e 16px no topo e na base */
  align-items: center; /* Centraliza verticalmente os itens */
  height: 17%; /* Altura de 100px */
  font-family: "Raleway", sans-serif; /* Define a família da fonte */
  font-weight: 500; /* Define o peso da fonte */
  font-size: 150%; /* Define o tamanho da fonte como 20px */
  line-height: 100%; /* Define a altura da linha */
  z-index: 9999; /* Define o índice Z */
}

.navbar img {
  margin-left: 2%; /* Define a margem esquerda como 40px */
}

.comp {
    margin-left: 20%; /* Define a margem esquerda como 980px */
    text-decoration: none; /* Remove a decoração do texto */
    color: #ffffff; /* Define a cor do texto como branca */
}


/*PÁGINA*/
.container-principal {
  margin-top: 7%; /* Define a margem superior como 100px */
  width: 100%;
}

/*PRIMEIRA SEÇÃO*/

.section1 .title-image-container {
  display: flex; /* Alinha os elementos lado a lado */
  align-items: center; /* Centraliza verticalmente os elementos */
  margin-bottom: 5%; /* Adiciona uma margem inferior */
  margin-top: 13%; /* Define a margem superior como 190px */
}

.section1 .title-image-container img {
  margin-top: -10%; /* Define a margem superior como -140px */
  margin-left: -2%; /* Define a margem esquerda como -60px */
}

.section1 .title-image-container h2 {
  margin-top: -15%; /* Define a margem superior como -210px */
  margin-left: 2%; /* Define a margem esquerda como 50px */
  font-family: "Raleway", sans-serif; /* Define a família da fonte */
  font-size: 45px; /* Define o tamanho da fonte como 45px */
  line-height: 1.2; /* Define a altura da linha */
  color: #ffffff; /* Define a cor do texto como branca */
}

.section1 .title-image-container h3 {
  margin-top: -5%; /* Define a margem superior como -70px */
  margin-left: -450px; /* Define a margem esquerda como -450px */
  font-family: "Raleway", sans-serif; /* Define a família da fonte */
  font-size: 25px; /* Define o tamanho da fonte como 25px */
  line-height: 1.2; /* Define a altura da linha */
  color: #000000; /* Define a cor do texto como preta */
}

.button {
  margin-top: 15%; /* Define a margem superior como 180px */
  margin-left: 5%; /* Define a margem esquerda como 75px */
  padding: 20px 100px; /* Define o preenchimento */
  background-color: #000000; /* Cor de fundo preta */
  color: #ffffff; /* Cor do texto branca */
  border: none; /* Remove a borda */
  border-radius: 30px; /* Define o raio da borda */
  font-size: 16px; /* Define o tamanho da fonte como 16px */
  cursor: pointer; /* Define o cursor como ponteiro */
  z-index: 2; /* Define o índice Z */
}

.button:hover {
  background-color: #333333; /* Cor de fundo escura ao passar o mouse */
}

.section1 {
  background-color:#2190a3; /* Cor de fundo azul */
  height: 100vh; /* Altura de 100% da altura da janela de visualização */
  width: 100%; /* Largura de 1500px */
  margin-left: 0%; /* Define a margem esquerda como 0px */
  display: inline-block; /* Define como bloco em linha */
  align-items: center; /* Centraliza verticalmente os elementos */
  justify-content: center; /* Centraliza horizontalmente os elementos */
}


.container-carousel2 {
  margin-top: -27%; /* Define a margem superior como -400px */
  width: 50%; /* Define a largura máxima como 600px */
  margin-left: 55%; /* Define a margem esquerda como 800px */
  position: flex; /* Define a posição como flex */
  border-radius: 20px; /* Define o raio da borda */
}

#carouselExampleControls .carousel-item img {
  width: 100%; /* Define a largura da imagem como 600px */
  height: 380px; /* Define a altura da imagem como 380px */
}

#carouselExampleControls .carousel-inner {
  border-radius: 15px; /* Adiciona borda arredondada ao carousel-inner */
  overflow: hidden; /* Esconde o conteúdo que estourar o container */
}

/*SEGUNDA SEÇÃO*/

/* Ajustes para exibir 3 cards por vez e aumentar o tamanho */
.section2 {
  background-color: #1b7f91; /* Cor de fundo azul escuro */
  text-align: center; /* Alinha o texto ao centro */
  margin-top: -14%; /* Define a margem superior como -190px */
  width: 100%; /* Largura de 1500px */
  height: 100vh; /* Altura de 700px */
  margin-left: 0%; /* Define a margem esquerda como 0px */
}

.title-image-container {
  display: flex; /* Alinha os elementos lado a lado */
  align-items: center; /* Centraliza verticalmente os elementos */
  margin-bottom: 20px; /* Adiciona uma margem inferior */
  margin-top: 13%; /* Define a margem superior como 190px */
}

.title-image-container img {
  margin-left: -2%; /* Define a margem esquerda como -60px */
  margin-right: -2%; /* Define a margem direita como -60px */
}

.title-image-container h2 {
  margin-top: -2%; /* Define a margem superior como -25px */
  margin-left: 2%; /* Define a margem esquerda como 50px */
  font-family: "Raleway", sans-serif; /* Define a família da fonte */
  font-size: 15px; /* Define o tamanho da fonte como 15px */
  line-height: 1.2; /* Define a altura da linha */
  color: #ffffff; /* Define a cor do texto como branca */
}

.title-image-container h3 {
  margin-top: 2%; /* Define a margem superior como 40px */
  margin-left: -20%; /* Define a margem esquerda como -320px */
  font-family: "Raleway", sans-serif; /* Define a família da fonte */
  font-size: 15px; /* Define o tamanho da fonte como 15px */
  line-height: 1.2; /* Define a altura da linha */
  color: #000000; /* Define a cor do texto como preta */
}

.carousel {
  top: 7%; /* Define a distância do topo como 90px */
  display: grid; /* Usa o modelo de layout grid */
  position: relative; /* Define a posição como relativa */
  max-width: 68%; /* Define a largura máxima como 1031px */
  margin: 0 auto; /* Margem automática nas laterais */
  overflow: hidden; /* Esconde o conteúdo que estourar o container */
}

.carousel-items {
  display: flex; /* Alinha os itens lado a lado */
  transition: transform 0.5s ease; /* Adiciona transição suave ao transform */
}

.card {
  flex: 0 0 auto; /* Define o tamanho do flex */
  width: 100%; /* Define a largura como 500px */
  height: 70vh; /* Define a altura como 450px */
  padding: 20%; /* Adiciona preenchimento */
  margin-right: 5%; /* Define a margem direita como 10px */
  margin-bottom: 5%; /* Define a margem inferior como 20px */
  background: #f0f0f0; /* Cor de fundo cinza claro */
  border-radius: 8px; /* Define o raio da borda */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adiciona sombra */
}


.prev-button,
.next-button {
  position: absolute; /* Define a posição como absoluta */
  top: 50%; /* Alinha ao meio verticalmente */
  transform: translateY(-50%); /* Move para cima metade da altura */
  padding: 1% 2%; /* Adiciona preenchimento */
  border: none; /* Remove a borda */
  border-radius: 4px; /* Define o raio da borda */
  background-color: #3498db; /* Cor de fundo azul claro */
  color: white; /* Cor do texto branca */
  cursor: pointer; /* Define o cursor como ponteiro */
}

.prev-button {
  left: 10px; /* Define a posição à esquerda como 10px */
}

.next-button {
  right: 10px; /* Define a posição à direita como 10px */
}

/*TERCEIRA SEÇÃO*/
.section3 {
  position: relative;
  margin-top: 0%; /* Define a margem superior como 0px */
  background-color:#1b7f91; /* Cor de fundo azul escuro */
  height: 100vh; /* Altura de 100% da altura da janela de visualização */
  width: 102%; /* Largura de 1500px */
  margin-left: -2%; /* Define a margem esquerda como -101px */
  display: flex; /* Usa o modelo de layout flexível */
  align-items: center; /* Centraliza verticalmente os itens */
  justify-content: center; /* Centraliza horizontalmente os itens */
}


.section-title {
  margin-top: 13%; /* Define a margem superior como 200px */
  margin-left: 40%; /* Define a margem esquerda como 610px */
  position: absolute; /* Define a posição como absoluta */
  font-family: "Dancing Script", sans-serif; /* Define a família da fonte */
  font-size: 80px; /* Define o tamanho da fonte como 80px */
  line-height: 1.2; /* Define a altura da linha */
  color: #ffffff; /* Define a cor do texto como branca */
  margin-bottom: 20px; /* Espaçamento inferior de 20px */
}

.section-title2 {
  margin-top: 19%; /* Define a margem superior como 300px */
  margin-left: 37%; /* Define a margem esquerda como 550px */
  position: absolute; /* Define a posição como absoluta */
  font-family: "Raleway", sans-serif; /* Define a família da fonte */
  font-size: 16px; /* Define o tamanho da fonte como 16px */
  line-height: 1.2; /* Define a altura da linha */
  color: #ffffff; /* Define a cor do texto como branca */
  margin-bottom: 20px; /* Espaçamento inferior de 20px */
}

.image-container {
  position: relative; /* Define a posição como relativa */
  width: 100%; /* Define a largura como 100% */
  height: 92%; /* Define a altura como 500px */
}

.image-container img {
  position: absolute; /* Define a posição como absoluta */
  width: -5%; /* Define a largura como 100px */
  height: 15%; /* Define a altura como 100px */
  object-fit: cover; /* Ajusta o tamanho da imagem para cobrir o container */
  border-radius: 10px; /* Define o raio da borda */
}

.image-container img:nth-child(9) {
  top: 20%;
  left: 5%;
}

.image-container img:nth-child(10) {
  top: 60%;
  left: 10%;
}

.image-container img:nth-child(3) {
  top: 40%;
  left: 20%;
}

.image-container img:nth-child(4) {
  top: 80%;
  left: 25%;
}

/* Posições para as imagens da direita */
.image-container img:nth-child(5) {
  top: 20%;
  right: 5%;
}

.image-container img:nth-child(6) {
  top: 40%;
  right: 20%;
}

.image-container img:nth-child(7) {
  top: 60%;
  right: 10%;
}

.image-container img:nth-child(8) {
  top: 80%;
  right: 25%;
}
/* Adicione mais estilos para mais imagens conforme necessário */