.fundo {
    background: linear-gradient(to bottom, #000000 10%, #D8F8FF  10%);
    background-color: #D8F8FF;
    margin-top: 120px;
    width: 30vw;
    height: 90vh;
    margin-left:100px;
    border-radius: 20px;
}

.fundo::before {
    content: '';
    position: absolute;
    top: 60%; /* Posiciona o elemento na metade da altura */
    width: 410px;
    left: 110px;
    right: 0;
    border-top: 1px solid #908b8b51; /* Adiciona uma linha horizontal de 1 pixel de largura e cor preta (#000) */
}

.fundo::after {
    content: '';
    position: absolute;
    top: 85%; /* Posiciona o elemento na metade da altura */
    width: 410px;
    left: 110px;
    right: 0;
    border-top: 1px solid #908b8b51; /* Adiciona uma linha horizontal de 1 pixel de largura e cor preta (#000) */
}

.container-perfil {
    margin-top: 30px;
    margin-left: 170px;
}

.container-perfil img{
    margin-top: 40px;
    margin-left: 15px;
    border: 3px solid #D8F8FF;
    border-radius: 50%;
}

.container-perfil h2{
    color: #000000;
    font-size: 16px;
    margin-top: 20px;
    margin-left: -15px;
    font-family: "Raleway", bold, sans-serif;
}

.container-perfil h3{
    font-size: 16px;
    margin-top: 90px;
    margin-left: -40px;
    font-family: "Raleway", bold, sans-serif;
}

.container-perfil h4{
    font-size: 16px;
    margin-top: 0px;
    margin-left: -40px;
    font-family: "Raleway", sans-serif;
}

.container-perfil h5{
    font-size: 16px;
    margin-top: 120px;
    margin-left: -40px;
    font-family: "Raleway", sans-serif;
    color: blue;
    text-decoration: underline;
}

h5 i.fas.fa-calendar {
    margin-right: 10px; /* Ajuste o valor conforme necessário */
}

.container-perfil h6{
    font-size: 16px;
    margin-top: 15px;
    margin-left: -40px;
    font-family: "Raleway", sans-serif;
    color: blue;
    text-decoration: underline;
}

h6 i.fas.fa-star {
    margin-right: 10px; /* Ajuste o valor conforme necessário */
}

.container1{
    display:block;
    align-items: baseline;
    margin-top: 120px;
    margin-left: -30px;
}

/* Estilos para o contêiner do calendário */
.calender {
    position:absolute;
    background: #d7f8ff;
    background-color: #d7f8ff;
    margin-top: -627px; /* Ajuste conforme necessário */
    width: 50vw;
    height: 55vh;
    margin-left: 710px; /* Ajuste conforme necessário */
    border-radius: 20px;
    padding: 20px; /* Adicione espaço interno se necessário */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adiciona sombra */
    color: rgb((0, 0, 0), 0, 0); /* Cor do texto dentro do calendário */
  }

  
  .chat-button {
  background-color: #008CBA;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
}

.chat-button:hover {
  background-color: #005f6b;
}
  
  

/* Estilos para o carousel */
.avaliacoes {
    background: linear-gradient(to bottom, #000000 20%, #D8F8FF 10%);
    background-color: #D8F8FF;
    margin-top: 140px;
    width: 40vw;
    height: 50vh;
    margin-left: 770px;
    border-radius: 20px;
  }
  
  /* Estilo para o texto dentro do card do carousel */
  .card-title {
    color: rgb(255, 0, 0);
  }
  

.contratos {
    background: linear-gradient(to bottom, #000000 20%, #D8F8FF  10%);
    background-color: #20454e;
    margin-top: 50px;
    width: 30vw;
    height: 30vh;
    margin-left:70px;
    border-radius: 20px;     
}

/* Estilizando o card dentro do carousel */
 

.container-contratos {
    margin-top: -385px;
    margin-left: 170px;
    display: flex;
    justify-content: space-between;
}

.container-contratos h2{
    color:#20454e;
    font-size: 20px;
    margin-top: 90px;
    margin-left: -40px;
    font-family: "Raleway", bold, sans-serif;
}

.container-avaliacoes {
    margin-top: -10px;
    margin-left: 170px;
    display: flex;
    justify-content: space-between;
}

.container-avaliacoes h2{
    color:#20454e;
    font-size: 20px;
    margin-top: 90px;
    margin-left: -40px;
    font-family: "Raleway", bold, sans-serif;
}

.chat {
    background: linear-gradient(to bottom, #000000 20%, #000000  10%);
    background-color: #010203;
    margin-top: -210px;
    width: 10vw;
    height: 30vh;
    margin-left: 1400px;
    border-radius: 20px;
}

.container-chat {
    margin-top: 10px;
    margin-left: 170px;
    display: grid;
    justify-content: space-between;
}

.container-chat h2{
    color:#dde5e7;
    font-size: 20px;
    margin-top: 5px;
    margin-left: -150px;
    font-family: "Raleway", bold, sans-serif;
}

.fa-comment-alt {
    font-size: inherit;
    margin-left: -150px; /* Espaçamento entre o ícone e o texto */
}


.navbar {
    position: fixed; /* Define o posicionamento fixo */
    top: 0; /* Alinha ao topo */
    right: 0; /* Alinha à direita */
    width: 100%; /* Largura de 100% */
    background-color: #000000; /* Cor de fundo preta */
    color: #ffffff; /* Cor do texto branca */
    display: flex; /* Usa o modelo de layout flexível */
    padding: 0 16px; /* Preenchimento de 0 nas laterais e 16px no topo e na base */
    align-items: center; /* Centraliza verticalmente os itens */
    height: 100px; /* Altura de 100px */
    font-family: "Raleway", sans-serif; /* Define a família da fonte */
    font-weight: 500; /* Define o peso da fonte */
    font-size: 20px; /* Define o tamanho da fonte como 20px */
    line-height: 32px; /* Define a altura da linha */
    z-index: 9999; /* Define o índice Z */
  }

  .navbar img {
    margin-left: 40px; /* Define a margem esquerda como 40px */
  }
  
  .comp {
      margin-left: 980px; /* Define a margem esquerda como 980px */
      text-decoration: none; /* Remove a decoração do texto */
      color: #ffffff; /* Define a cor do texto como branca */
  }

.image-text {
    display: flex; /* Ativa o modelo de layout flexbox */
    align-items: center; /* Alinha verticalmente o conteúdo ao centro */
    justify-content: flex-end; /* Alinha o conteúdo à direita */
}

.image-text-container {
    display: flex;
    align-items: center; /* Centraliza verticalmente os elementos */
}

.navbar-image {
    position: absolute;
    right: 60px; /* Ajuste a quantidade de espaço desejada da borda direita */
    top: 50%; /* Centraliza verticalmente a imagem */
    transform: translateY(-50%); /* Ajusta a imagem verticalmente */
    margin-left: 10px; /* Adicione um espaço entre a imagem e o texto */
}


.image-text p{
    right: 200px; /* Adiciona um espaço entre o texto e a imagem */
}

.nav img{
    margin-left: 40px;
}

.toolbar {
  margin-left: auto;
}

.toolbar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.toolbar li {
  display: inline-block;
  margin-right: 20px; /* Espaçamento entre as opções */
}

.toolbar a {
  text-decoration: none;
  color: #ffffff; /* Cor do texto */
  font-weight: bold;
}

.toolbar a:hover {
  color: #bf1313; /* Cor ao passar o mouse */
}

#profile-icon {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #ffffff; /* Cor padrão */
  border: none;
  cursor: pointer;
}

#profile-icon.active {
  /* Adicione estilos para a cor ativa */
  background-color: #3498db; /* Por exemplo, azul */
}

.user-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0 10px;
  font-size: 50px;
  margin-right: 10px;
  color: #000000; /* Cor do texto */
}



.chat-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0 10px;
    font-size: 20px;
    margin-right: 200px;
    color: #8c8c8c; /* Cor do texto */
}

.user-button:hover, .profile-icon:hover{
  color: #bf1313; 
}

/* Estilos para o ícone de chat (FontAwesome) */
.fa-comment-alt {
    font-size: inherit;
    margin-right: 5px; /* Espaçamento entre o ícone e o texto */
}

.chat-button:hover, .image-text:hover{
    color: #bf1313; 
}

/* Estilos para a barra de pesquisa */
.search-box {
    flex-grow: 1;
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    margin: 0 16px; /* Espaçamento à esquerda e à direita */
}

.search-input {
    border: none;
    outline: none;
    padding: 8px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.2); /* Fundo transparente */
    color: #ffffff; /* Cor do texto */
    width: 190px; /* Largura do campo de pesquisa */
}

.search-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0 10px;
    font-size: 20px;
    color: #ffffff; /* Cor do ícone de pesquisa */
    margin-left: -50px;
}

/* Estilos para o ícone de pesquisa (FontAwesome) */
.fa-search {
    font-size: inherit;
}

/* Estilos para o modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  

  .avaliacoes ul {
    position: absolute;
    top: 950px;
    margin-left: 20px;
    list-style: none; /* Remove os marcadores de lista */
    padding: 0; /* Remove o preenchimento padrão da lista */
  }
  
  .avaliacoes li {
    margin-top: 20px;
    margin-bottom: 10px; /* Espaçamento entre os itens da lista */
    background-color: #f0f0f0; /* Cor de fundo dos itens */
    padding: 10px; /* Preenchimento interno dos itens */
    border-radius: 5px; /* Borda arredondada */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra sutil */
    height: 100px;
    width: 400px;
  }

  .avaliacoes li h1{
    margin-top: 10px;
    font-size: 20px;
    font-family: "Raleway", sans-serif; /* Define a família da fonte */
    line-height: 1.2; /* Define a altura da linha */
    color: #9699a4;
  }

  .avaliacoes h2{
    position: absolute;
    margin-top: 20px;
    margin-left: 20px;
    font-size: 20px;
    font-family: "Raleway", sans-serif; /* Define a família da fonte */
    line-height: 1.2; /* Define a altura da linha */
    color: #9699a4;
  }
  
  
.button {
    position: absolute;
    padding: 10px 20px;
    margin-left: 450px;
    margin-top: -230px;
    height: 220px;
    width: 110px;
    border: none;
    border-radius: 5px;
    background-color: #f0f0f0; /* Cor de fundo do botão */
    color: #9699a4; /* Cor do texto */
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    }

    .button:hover {
        background-color: #a2a2a2; /* Cor de fundo alterada ao passar o mouse */
        color: #000000;
      }

.avaliacoes li:hover {
    background-color: #000000; /* Cor de fundo ao passar o mouse */
    cursor: pointer; /* Cursor alterado para indicar interação */
    color: #3498db;
}



.container-contratos ul {
    position: absolute;
    top: 905px;
    margin-left: -150px;
    list-style: none; /* Remove os marcadores de lista */
    padding: 0; /* Remove o preenchimento padrão da lista */
  }
  
  .container-contratos li {
    margin-top: 10px;
    margin-bottom: 10px; /* Espaçamento entre os itens da lista */
    background-color: #f0f0f0; /* Cor de fundo dos itens */
    padding: 10px; /* Preenchimento interno dos itens */
    border-radius: 5px; /* Borda arredondada */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra sutil */
    height: 40px;
    width: 400px;
  }

  .container-contratos li h1{
    margin-top: 10px;
    font-size: 20px;
    font-family: "Raleway", sans-serif; /* Define a família da fonte */
    line-height: 1.2; /* Define a altura da linha */
    color: #9699a4;
  }

.container-contratos h2{
    position: absolute;
    margin-top: 20px;
    margin-left: 20px;
    font-size: 20px;
    font-family: "Raleway", sans-serif; /* Define a família da fonte */
    line-height: 1.2; /* Define a altura da linha */
    color: #9699a4;
  }
  
  .container-contratos h2{
    position: absolute;
    margin-top: 10px;
    margin-left: -150px;
    font-size: 20px;
    font-family: "Raleway", sans-serif; /* Define a família da fonte */
    line-height: 1.2; /* Define a altura da linha */
    color: #9699a4;
  }
  .circle-container {
    position: absolute;
    display: flex;
    justify-content: space-around; /* Distribui os círculos igualmente ao longo do espaço */
    align-items: center; /* Alinha os círculos verticalmente no centro */
    background-color: #d7f8ff;
    margin: 20px 0;
    margin-left: 740px;
    margin-top: -150px;
    border-radius: 40px;
    padding: 10px;
    width: 700px; /* Define a largura total do contêiner */
  }
  
  .circle {
    width: 70px;
    height: 70px;
    background-color: #d7f8ff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 14px;
    border: 2px solid #333;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  .circle:hover {
    background-color: #14353a;
    color: #97c6ce;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  