.navbar {
  position: fixed; /* Define o posicionamento fixo */
  top: 0; /* Alinha ao topo */
  right: 0; /* Alinha à direita */
  width: 100%; /* Largura de 100% */
  background-color: #000000; /* Cor de fundo preta */
  color: #ffffff; /* Cor do texto branca */
  display: flex; /* Usa o modelo de layout flexível */
  padding: 0 16px; /* Preenchimento de 0 nas laterais e 16px no topo e na base */
  align-items: center; /* Centraliza verticalmente os itens */
  height: 100px; /* Altura de 100px */
  font-family: "Raleway", sans-serif; /* Define a família da fonte */
  font-weight: 500; /* Define o peso da fonte */
  font-size: 20px; /* Define o tamanho da fonte como 20px */
  line-height: 32px; /* Define a altura da linha */
  z-index: 9999; /* Define o índice Z */
}

.nav img{
  margin-left: 40px;
}

.toolbar {
margin-left: auto;
}

.toolbar ul {
margin-left: 40px;
list-style-type: none;
padding: 0;
margin: 0;
}

.toolbar li {
display: inline-block;
margin-right: 20px; /* Espaçamento entre as opções */
}

.toolbar a {
text-decoration: none;
color: #ffffff; /* Cor do texto */
font-weight: bold;
}

.toolbar a:hover {
color: #bf1313; /* Cor ao passar o mouse */
}

#profile-icon {
width: 70px;
height: 70px;
border-radius: 50%;
background-color: #ffffff; /* Cor padrão */
border: none;
cursor: pointer;
}

#profile-icon.active {
/* Adicione estilos para a cor ativa */
background-color: #3498db; /* Por exemplo, azul */
}

.user-button {
background: none;
border: none;
cursor: pointer;
padding: 0 10px;
font-size: 50px;
margin-right: 10px;
color: #000000; /* Cor do texto */
}

.user-button:hover, .profile-icon:hover{
color: #bf1313; 
}

/* Estilos para a barra de pesquisa */
.search-box {
  flex-grow: 1;
  display: flex;
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center; /* Centraliza verticalmente */
  margin: 0 16px; /* Espaçamento à esquerda e à direita */
}

.search-input {
  border: none;
  outline: none;
  padding: 8px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.2); /* Fundo transparente */
  color: #ffffff; /* Cor do texto */
  width: 190px; /* Largura do campo de pesquisa */
}

.search-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0 10px;
  font-size: 20px;
  color: #ffffff; /* Cor do ícone de pesquisa */
  margin-left: 400px;
}

/* Estilos para o ícone de pesquisa (FontAwesome) */
.fa-search {
  font-size: inherit;
  margin-left: -870px;
}


/*PÁGINA TOPO*/
.container-principal {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; /* Ajuste o alinhamento horizontal */
  margin-top: 15%; /* Define a margem superior como 100px */
  margin-left: -5%;
  width: 650px;
}

.container-principal2 {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; /* Ajuste o alinhamento horizontal */
  margin-top: -60.5%; /* Define a margem superior como 100px */
  width: 650px;
  margin-left: 50%;
}


.container-principal::after {
  content: ''; /* Adiciona conteúdo ao pseudo-elemento */
  position: absolute; /* Define a posição como absoluta */
  top: 450px; /* Posiciona o elemento 120px do topo */
  height: 430px; /* Define a altura como 630px */
  left: 765px; /* Posiciona a 20px da esquerda */
  transform: translateX(-50%); /* Move para o centro horizontal */
  width: 2px; /* Define a largura como 10px */
  background: black;
  border-radius: 5px; /* Define o raio da borda */
}

.card2 {
  position: flex;
  margin-top: 20px;
  width: 300px; /* Define a largura como 500px */
  height: 410px; /* Define a altura como 450px */
  padding: 20px; /* Adiciona preenchimento */
  left: -0px;
  margin-bottom: 20px; /* Define a margem inferior como 20px */
  background: #2190a3; /* Cor de fundo cinza claro */
  border-radius: 8px; /* Define o raio da borda */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.595); /* Adiciona sombra */
} 

/* */


/* Outros Artistas */

.container-principal4 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start; /* Ajuste a propriedade align-items conforme necessário */
  position: flex;
  margin-top: 18%; /* Define a margem superior como 100px */
  width: 100%;
  margin-left: 2%;
}

.container-principal5 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start; /* Ajuste a propriedade align-items conforme necessário */
  position: flex;
  margin-top: 15px; /* Define a margem superior como 100px */
  width: 200%;
  margin-left: 4%;
}

.card6 {
  position: absolute;
  background-color:#ffffff;
  position: relative;
  width: 900px; /* Defina a largura máxima conforme necessário */
  height: 280px;
  border-radius: 10px;
  margin-top: -90px; /* Ajuste a margem conforme desejado */
  overflow: hidden;
  margin: 1em auto;
}

.card6-title {
  margin-left: 5px;
  margin-top: 15px;
  font-size: 15px; /* Tamanho do título */
  margin-bottom: 10px; /* Espaçamento inferior do título */
  color: #2190a3;
}

.card6-text {
  margin-left: 5px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #000000;
  font-size: 15px; /* Tamanho do texto */
  line-height: 1.4; /* Altura da linha do texto */
}

.card6-text2 {
  margin-left: 5px;
  font-family:'Courier New', Courier, monospace;
  font-size: 15px; /* Tamanho do texto */
  line-height: 1.4; /* Altura da linha do texto */
}

/* */

/* Em Andamento */
.container-principal3 {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; /* Ajuste o alinhamento horizontal */
  margin-top: 245px; /* Define a margem superior como 100px */
  width: 50%;
  margin-left: -5%;
}


/*PRIMEIRA SEÇÃO*/

 .section1 {
  position: absolute;
  background-color:#2190a3; /* Cor de fundo azul */
  height: 135vh; /* Altura de 100% da altura da janela de visualização */
  width: 545px; /* Largura de 1500px */
  margin-left: 57.1%; /* Define a margem esquerda como 0px */
  margin-top: 215px;
  display: inline-block; /* Define como bloco em linha */
  align-items: center; /* Centraliza verticalmente os elementos */
  justify-content: center; /* Centraliza horizontalmente os elementos */
}

.section1 .title-image-container {
  display: flex; /* Alinha os elementos lado a lado */
  align-items: center; /* Centraliza verticalmente os elementos */
  margin-bottom: 20px; /* Adiciona uma margem inferior */
  margin-top: 190px; /* Define a margem superior como 190px */
}

.section1 .title-image-container img {
  margin-top: -140px; /* Define a margem superior como -140px */
  margin-left: -60px; /* Define a margem esquerda como -60px */
  margin-right: -60px; /* Define a margem direita como -60px */
}

.section1 .title-image-container h2 {
  margin-top: -180px; /* Define a margem superior como -210px */
  margin-left: -10px; /* Define a margem esquerda como 50px */
  font-family: "Raleway", sans-serif; /* Define a família da fonte */
  font-size: 45px; /* Define o tamanho da fonte como 45px */
  line-height: 1.2; /* Define a altura da linha */
  color: #ffffff; /* Define a cor do texto como branca */
}

.carousel {
  margin-top: 90px; /* Define a distância do topo como 90px */
  display: grid; /* Usa o modelo de layout grid */
  position: absolute; /* Define a posição como relativa */
  max-width: 610px; /* Define a largura máxima como 1031px */
  left: -400px;
  margin: 0 auto; /* Margem automática nas laterais */
  overflow: hidden; /* Esconde o conteúdo que estourar o container */
}

.carousel2{
  top: 10px; /* Define a distância do topo como 90px */
  display: grid; /* Usa o modelo de layout grid */
  position: relative; /* Define a posição como relativa */
  max-width: 1210px; /* Define a largura máxima como 1031px */
  left: -100px;
  margin: 0 auto; /* Margem automática nas laterais */
  overflow: hidden; /* Esconde o conteúdo que estourar o container */
}

.carousel-items {
  display: flex; /* Alinha os itens lado a lado */
  transition: transform 0.5s ease; /* Adiciona transição suave ao transform */
}

.prev-button {
  left: 10px; /* Define a posição à esquerda como 10px */
}

.next-button {
  right: 10px; /* Define a posição à direita como 10px */
}

/* OUTROS ARTISTAS - TITULO */

.title-image-container5 {
  position: absolute;
  display: flex; /* Alinha os elementos lado a lado */
  align-items: center; /* Centraliza verticalmente os elementos */
  margin-bottom: 100px; /* Adiciona uma margem inferior */
  margin-top: -10%; /* Define a margem superior como 190px */
  margin-left: -1250px;
}

.title-image-container5 h2 {
  margin-top: -25px; /* Define a margem superior como -25px */
  margin-left: -60px; /* Define a margem esquerda como 50px */
  font-family: "Raleway", sans-serif; /* Define a família da fonte */
  line-height: 1.2; /* Define a altura da linha */
  color: #000000; /* Define a cor do texto como branca */
}

/* */


/* TOPO TITULOS*/

.title-image-container2 {
  position: absolute;
  display: flex; /* Alinha os elementos lado a lado */
  align-items: center; /* Centraliza verticalmente os elementos */
  margin-bottom: 20px; /* Adiciona uma margem inferior */
  margin-top: 7%; /* Define a margem superior como 190px */
  margin-left: -7%;
}

.title-image-container2 h2 {
  font-size: 20px;
  margin-top: -25px; /* Define a margem superior como -25px */
  margin-left: 2%; /* Define a margem esquerda como 50px */
  font-family: "Raleway", sans-serif; /* Define a família da fonte */
  line-height: 1.2; /* Define a altura da linha */
  color: #ffffff; /* Define a cor do texto como branca */
}

.title-image-container3 {
  position: absolute;
  display: flex; /* Alinha os elementos lado a lado */
  align-items: center; /* Centraliza verticalmente os elementos */
  margin-bottom: 20px; /* Adiciona uma margem inferior */
  margin-top: -66.5%; /* Define a margem superior como 190px */
  margin-left: 47.4%;
}

.title-image-container3 h2 {
  font-size: 20px;
  margin-top: -25px; /* Define a margem superior como -25px */
  margin-left: 2%; /* Define a margem esquerda como 50px */
  font-family: "Raleway", sans-serif; /* Define a família da fonte */
  line-height: 1.2; /* Define a altura da linha */
  color: #ffffff; /* Define a cor do texto como branca */
}

/* */

/* VAGAS EM ANDAMENTO */

.title-image-container4 {
  position: absolute;
  display: flex; /* Alinha os elementos lado a lado */
  align-items: center; /* Centraliza verticalmente os elementos */
  margin-bottom: 20px; /* Adiciona uma margem inferior */
  margin-top: 7%; /* Define a margem superior como 190px */
  margin-left: -9%;
}

.title-image-container4 h2 {
  margin-top: -25px; /* Define a margem superior como -25px */
  margin-left: -60px; /* Define a margem esquerda como 50px */
  font-family: "Raleway", sans-serif; /* Define a família da fonte */
  line-height: 1.2; /* Define a altura da linha */
  color: #ffffff; /* Define a cor do texto como branca */
}

/* */

/* LISTAS - TITULOS */

.title-image-container6 {
  position: absolute;
  display: flex; /* Alinha os elementos lado a lado */
  align-items: center; /* Centraliza verticalmente os elementos */
  margin-bottom: 100px; /* Adiciona uma margem inferior */
  margin-top: -10%; /* Define a margem superior como 190px */
  margin-left: -5%;
  width: 30%;
}

.title-image-container6 h2 {
  margin-top: -25px; /* Define a margem superior como -25px */
  margin-left: -2%; /* Define a margem esquerda como 50px */
  font-family: "Raleway", sans-serif; /* Define a família da fonte */
  line-height: 1.2; /* Define a altura da linha */
  color: #000000; /* Define a cor do texto como branca */
}

.title-image-container7 {
  position: absolute;
  display: flex; /* Alinha os elementos lado a lado */
  align-items: center; /* Centraliza verticalmente os elementos */
  margin-bottom: 100px; /* Adiciona uma margem inferior */
  margin-top: -47%; /* Define a margem superior como 190px */
  margin-left: -25%;
  width: 600px;
}


.title-image-container7 h2 {
  margin-top: -25px; /* Define a margem superior como -25px */
  margin-left: -2%; /* Define a margem esquerda como 50px */
  font-family: "Raleway", sans-serif; /* Define a família da fonte */
  line-height: 1.2; /* Define a altura da linha */
  color: #000000; /* Define a cor do texto como branca */
}

.title-image-container8 {
  position: absolute;
  display: flex; /* Alinha os elementos lado a lado */
  align-items: center; /* Centraliza verticalmente os elementos */
  margin-bottom: 100px; /* Adiciona uma margem inferior */
  margin-top: -47%; /* Define a margem superior como 190px */
  margin-left: -25%;
  width: 600px;
}


.title-image-container8 h2 {
  margin-top: -25px; /* Define a margem superior como -25px */
  margin-left: -2%; /* Define a margem esquerda como 50px */
  font-family: "Raleway", sans-serif; /* Define a família da fonte */
  line-height: 1.2; /* Define a altura da linha */
  color: #000000; /* Define a cor do texto como branca */
}


/*TERCEIRA SEÇÃO*/

/* Estilos para a tabela */
.table {
  width: 100%;
  border-collapse: collapse;
  font-family: Arial, Helvetica, sans-serif;
}

/* Estilos para o cabeçalho da tabela */
.table thead {
  background-color: #f2f2f2;
  color: #333;
  text-align: left;
  border-bottom: 1px solid #ddd;
  display: flex;
  flex-direction: row;
  border-radius: 10px;
}

/* Estilos para as células do cabeçalho */
.table th {
height: 30%;
padding: 8px;
text-align: left;
font-family: "Raleway", sans-serif; /* Define a família da fonte */
color: black;
border-bottom: 1px solid #ffffff;
display: flex;
flex-direction: row;
flex: 1;
border-radius: 10px;
}

/* Estilos para as células da tabela */
.table h1 {
  padding: 4px;
  text-align: left;
  border-bottom: 1px solid #ffffff;
  font-family: "Raleway", sans-serif; /* Define a família da fonte */
  font-size: 15px;
  display: flex;
  flex-direction: row;
  flex: 1;
}

/* Carrousel Cultura */

.card {
background-image: url('https://www.cnnbrasil.com.br/wp-content/uploads/sites/12/2023/05/GettyImages-1484031614-e1684150605936.jpg?w=1220&h=674&crop=1');
background-size: 600px; /* Ajustar o tamanho da imagem */
background-position: center; /* Posicionar a imagem no centro */
position: relative;
max-width: 100%; /* Defina a largura máxima conforme necessário */
height: 300px;
border-radius: 10px;
margin: 20px; /* Ajuste a margem conforme desejado */
overflow: hidden;
}

.card3 {
background-image: url('https://s2-g1.glbimg.com/8J_57ZlTL3AFsjY36aAjBmH6d-U=/0x0:4160x2774/1008x0/smart/filters:strip_icc()/i.s3.glbimg.com/v1/AUTH_59edd422c0c84a879bd37670ae4f538a/internal_photos/bs/2023/O/K/mpHg0sRBAT6Kp4tdWUqg/kevin3foto.jpg');
background-size: 600px; /* Ajustar o tamanho da imagem */
background-position: center; /* Posicionar a imagem no centro */
position: relative;
max-width: 100%; /* Defina a largura máxima conforme necessário */
height: 300px;
border-radius: 10px;
margin: 20px; /* Ajuste a margem conforme desejado */
overflow: hidden;
}

.card4 {
background-image: url('https://s2-g1.glbimg.com/p-0llVQTZFvXL7zIQLZpWi_Dfhk=/0x0:860x573/984x0/smart/filters:strip_icc()/i.s3.glbimg.com/v1/AUTH_59edd422c0c84a879bd37670ae4f538a/internal_photos/bs/2023/B/d/5vy96jRMOX7IxltYBnDw/unnamed.jpg');
background-size: 600px; /* Ajustar o tamanho da imagem */
background-position: center; /* Posicionar a imagem no centro */
position: relative;
max-width: 100%; /* Defina a largura máxima conforme necessário */
height: 300px;
border-radius: 10px;
margin: 20px; /* Ajuste a margem conforme desejado */
overflow: hidden;
}

.card5 {
background-image: url('https://www.gov.br/iphan/pt-br/assuntos/noticias/exposicao-fotografica-apresenta-a-diversidade-da-cultura-popular-no-distrito-federal/pareiada-na-posse-do-lula-01-01-2023-foto-davi-mello-73-1-1.jpg/@@images/c354b08e-570c-4c23-ac53-b4c0fcdabad8.jpeg');
background-size: 700px; /* Ajustar o tamanho da imagem */
background-position: center; /* Posicionar a imagem no centro */
position: relative;
max-width: 100%; /* Defina a largura máxima conforme necessário */
height: 300px;
border-radius: 10px;
margin: 20px; /* Ajuste a margem conforme desejado */
overflow: hidden;
}

.card8 {
  background-image: url('https://cultura.uol.com.br/upload/tvcultura/entretenimento/20231205195946_mis.jpg');
  background-size: 700px; /* Ajustar o tamanho da imagem */
  background-position: center; /* Posicionar a imagem no centro */
  position: relative;
  max-width: 100%; /* Defina a largura máxima conforme necessário */
  height: 300px;
  border-radius: 10px;
  margin: 20px; /* Ajuste a margem conforme desejado */
  overflow: hidden;
}

.card7 {
  background-image: url('https://classic.exame.com/wp-content/uploads/2023/11/TomieOhtake.jpg?quality=70&strip=info&w=1024');
  background-size: 700px; /* Ajustar o tamanho da imagem */
  background-position: center; /* Posicionar a imagem no centro */
  position: relative;
  max-width: 100%; /* Defina a largura máxima conforme necessário */
  height: 300px;
  border-radius: 10px;
  margin: 20px; /* Ajuste a margem conforme desejado */
  overflow: hidden;
}



.card8-title {
margin-left: 5px;
margin-top: 15px;
font-size: 15px; /* Tamanho do título */
margin-bottom: 10px; /* Espaçamento inferior do título */
color: #2190a3;
}

.card8-text {
margin-left: 5px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
color: #000000;
font-size: 15px; /* Tamanho do texto */
line-height: 1.4; /* Altura da linha do texto */
}



.card-title {
margin-top: 150px;
font-size: 24px; /* Tamanho do título */
margin-bottom: 10px; /* Espaçamento inferior do título */
color: red;
}

.card3-title {
margin-left: 15px;
margin-top: 175px;
font-size: 24px; /* Tamanho do título */
margin-bottom: 10px; /* Espaçamento inferior do título */
color: red;
}

.card4-title {
margin-left: 15px;
margin-top: 175px;
font-size: 24px; /* Tamanho do título */
margin-bottom: 10px; /* Espaçamento inferior do título */
color: red;
}

.card5-title {
margin-left: 15px;
margin-top: 175px;
font-size: 24px; /* Tamanho do título */
margin-bottom: 10px; /* Espaçamento inferior do título */
color: yellow;
}

.card-text {
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
color: #ffffff;
font-size: 20px; /* Tamanho do texto */
line-height: 1.4; /* Altura da linha do texto */
}

.card3-text {
margin-left: 15px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
color: #ffffff;
font-size: 20px; /* Tamanho do texto */
line-height: 1.4; /* Altura da linha do texto */
}

.card4-text {
margin-left: 15px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
color: #ffffff;
font-size: 20px; /* Tamanho do texto */
line-height: 1.4; /* Altura da linha do texto */
}

.card5-text {
margin-left: 15px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
color: #ffffff;
font-size: 20px; /* Tamanho do texto */
line-height: 1.4; /* Altura da linha do texto */
}

.card8-title {
  margin-left: 15px;
  margin-top: 35%;
  font-size: 24px; /* Tamanho do título */
  margin-bottom: 10px; /* Espaçamento inferior do título */
  color: #ff5531;
  }

.card8-text {
  margin-left: 15px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #ffffff;
  font-size: 20px; /* Tamanho do texto */
  line-height: 1.4; /* Altura da linha do texto */
  }
  
  .card7-title {
    margin-left: 15px;
    margin-top: 35%;
    font-size: 24px; /* Tamanho do título */
    margin-bottom: 10px; /* Espaçamento inferior do título */
    color: #e11d21;
    }
  
  .card7-text {
    margin-left: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #ffffff;
    font-size: 20px; /* Tamanho do texto */
    line-height: 1.4; /* Altura da linha do texto */
    }

.carousel{
margin-top: 2%;
margin-left: 73%;
width: 100%;
}

.carousel2{
margin-top: 65%;
margin-left: 18%;
width: 100%;
}


/**/


.container-list{
margin-top: 220vh;
width: 40%;
margin-left: -100%;
}

.button {
  margin-top: 2%;
padding: 10px 20px;
margin-left: 8%;
height: 4%;
width: 85%;
border: none;
border-radius: 5px;
background-color: #ffffff; /* Cor de fundo do botão */
color: rgb(0, 0, 0); /* Cor do texto */
font-size: 18px;
cursor: pointer;
transition: background-color 0.3s ease;
}

/* Estilo ao passar o mouse */
.button:hover {
background-color: #a2a2a2; /* Cor de fundo alterada ao passar o mouse */
}

/* Estilos para a lista */
.container-list ul {
list-style: none; /* Remove os marcadores de lista */
padding: 0; /* Remove o preenchimento padrão */
margin: 0; /* Remove as margens padrão */
}

.container-list li {
padding: 8px 0; /* Espaçamento interno superior e inferior */
font-size: 20px;
font-family: "Raleway", sans-serif; /* Define a família da fonte */
border-bottom: 1px solid #ccc; /* Linha divisória entre os itens */
transition: all 0.3s ease; /* Transição suave ao passar o mouse */
color: rgb(25, 145, 166);
}

.container-list li h1{
margin-top: 10px;
font-size: 15px;
font-family: "Raleway", sans-serif; /* Define a família da fonte */
line-height: 1.2; /* Define a altura da linha */
color: #9699a4;
}

/* Estilo ao passar o mouse */
.container-list, .container-list2, .container-list3 li:hover {
background-color: #f0f0f0; /* Cor de fundo ao passar o mouse */
cursor: pointer; /* Cursor alterado para indicar interação */
}

.container-list2 ul {
margin-left: 5%;
list-style: none; /* Remove os marcadores padrão */
padding: 0; /* Remove o espaçamento interno padrão */
}

.container-list2 li {
padding: 26px 0; /* Espaçamento interno superior e inferior */
font-size: 20px;
font-family: "Raleway", sans-serif; /* Define a família da fonte */
border-bottom: 1px solid #ccc; /* Linha divisória entre os itens */
transition: all 0.3s ease; /* Transição suave ao passar o mouse */
color: #000000;
}

.container-list2{
position: absolute;
margin-top: -25.7%;
width: 20%;
margin-left: -15%;
}

.container-list2 li h1{
  margin-top: 1%;
  font-size: 15px;
  font-family: "Raleway", sans-serif; /* Define a família da fonte */
  line-height: 1.2; /* Define a altura da linha */
  color: #9699a4;
  }

.container-list3 ul {
list-style: none; /* Remove os marcadores padrão */
padding: 0; /* Remove o espaçamento interno padrão */
}

.container-list3 li {
padding: 26px 0; /* Espaçamento interno superior e inferior */
font-size: 20px;
font-family: "Raleway", sans-serif; /* Define a família da fonte */
border-bottom: 1px solid #ccc; /* Linha divisória entre os itens */
transition: all 0.3s ease; /* Transição suave ao passar o mouse */
color: #000000;
}

.container-list3 li h1{
  margin-top: 1%;
  font-size: 15px;
  font-family: "Raleway", sans-serif; /* Define a família da fonte */
  line-height: 1.2; /* Define a altura da linha */
  color: #9699a4;
  }

.container-list3{
position: absolute;
margin-top: -26.5%;
width: 20%;
margin-left: 15%;
}