<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">

<div class="fundo">
    <div class="nav">
        <img src="..\assets\m_arte.png" width="100px" height="100px" routerLink="">
        <a class="comp" href="#">
            Inscrever-se | Entrar
        </a>
    </div>
    <div class="espaco-login">
        <h1 class="Text1">Faça seu cadastro</h1>
        <div id="componentes-pessoas-fisica" >
            <form [formGroup]="cadastroForm" class="input-table">
                <h1 class="Text2">Tipo de cadastro:</h1>
                <div class="form-group">
                    <ng-template [ngIf]="cadastroForm.get('nome')?.errors?.['required'] && cadastroForm.get('nome')?.touched" [ngIfElse]="nome">
                        <label class="text-danger">Nome*</label>
                    </ng-template>
                    <ng-template #nome>Nome*</ng-template>
                    <input type="text" class="form-control" formControlName="nome" minlength="5" maxlength="37" [(ngModel)]="usuario.nome"/>
                    
                </div>

                <div class="form-group">
                    <ng-template [ngIf]="cadastroForm.get('email')?.errors?.['required'] && cadastroForm.get('email')?.touched" [ngIfElse]="email">
                        <label class="text-danger">Email*</label>
                    </ng-template>
                    <ng-template #email>Email*</ng-template>
                    <input type="email" class="form-control" maxlength="40" minlength="3" formControlName="email" pattern="/^[^\s@]+@[^\s@]+\.[^\s@]+$/" [(ngModel)]="usuario.email" />
                    
                </div>

                <div class="form-group">
                    <ng-template [ngIf]="cadastroForm.get('cpf')?.errors?.['required'] && cadastroForm.get('cpf')?.touched" [ngIfElse]="cpf" >
                        <label class="text-danger">CPF*</label>
                    </ng-template>
                    <ng-template #cpf>CPF*</ng-template>
                    <input type="text" class="form-control" formControlName="cpf" [(ngModel)]="usuario.cpf"/>
                    <span class="mensagem-erro" *ngIf="errorMessage">{{ errorMessage }}</span>
                </div>

                <div class="form-group">

                    <ng-template [ngIf]="errorMessageT != null" [ngIfElse]="celular">

                    <label class="text-danger">Celular</label>

                    </ng-template>

                    <ng-template #celular><label>Celular</label></ng-template>

                    <input type="text" class="form-control" formControlName="tel" [(ngModel)]="usuario.telefone" />
                    <span class="mensagem-erro">{{errorMessageT}}</span>
                </div>

                <div class="form-group">
                    <label>Senha</label>
                    <input type="password" class="form-control" maxlength="12" minlength="8" formControlName="senha" [(ngModel)]="usuario.senha"/>
                </div>

                <div class="form-group">
                    
                    
                    <label>Confirme sua senha</label>
                    <input type="password" class="form-control" maxlength="12" minlength="8" formControlName="chkSenha" (input)="confirmaSenha()"/>
                    <span>{{errorMessageS}}</span>
                    <span class="mostrar-senha" (click)="mostrarSenha()">Mostrar</span>
                </div>


                <button class="button" (click)="cadastrar()">Confirmar</button>
                
            </form>
        </div>
    </div>