<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<div class="fundo">
    <div class="nav">
        <img src="..\assets\m_arte.png" width="100px" height="100px" routerLink="">
        <div class="search-box">
            <input type="text" class="search-input" placeholder="Pesquisar">
            <button class="search-button"><i class="fas fa-search"></i></button>
        </div>
        <button class="chat-button"><i class="fas fa-comment-alt"></i> Chat</button>
        <div class="image-text-container">
            <img src="../assets/user_card.png" alt="Avatar" class="navbar-image"  width="50px" height="50px">
            <p class="image-text">User</p>
        </div>            
    </div>
    <div class="espaco-login">
        <h1>Nova solicitação de serviço</h1>
        <div class="container">
            <img src="../assets/user_card.png" alt="Sua Imagem" class="espaco-login-image" width="100px" height="100px">
            <div class="espaco-login-text">Usuario_Nome</div>
            <div class="espaco-login-text2">usuario@email</div>
            <div class="espaco-login-text3">+1 800  000000</div>
            <div class="espaco-login-text4">Endereço:</div>
            <div class="espaco-login-text5">hshhshshshs</div>
            <div class="espaco-login-text6">Horário:</div>
            <div class="espaco-login-text7">XX:XX</div>
            <div class="espaco-login-text8">Breve Descrição:</div>
            <div class="espaco-login-text9">sjsjsjsjsjjsjsjjsjsjsjsj<br>ssksks</div>
            <button class="button-aceitar">Aceitar Oferta</button> <!-- Botão 1 -->
        </div>        
    </div>
</div>
